/node_modules/
.README.md.swp
.idea/
coverage
.DS_store
logs/
*.log
tmp/
../../../Library/Application Support/JetBrains/WebStorm2022.3/scratches/drafts/
cd code-user/ # Переходим в директорию code-user
git log -p
echo 'Hello Hexlet!' > hexlet2.txt
git add hexlet2.txt
git commit -m 'fix hexlet2.txt'
